<body>
    <app-result></app-result>
    <div class="container">
        <div class="r">
            <app-button [value]="1"></app-button>
            <app-button [value]="2"></app-button>
            <app-button [value]="3"></app-button>
            <app-button [value]="plus"></app-button>
        </div>

        <div class="r">
            <app-button [value]="4"></app-button>
            <app-button [value]="5"></app-button>
            <app-button [value]="6"></app-button>
            <app-button [value]="min"></app-button>
        </div>

        <div class="r">
            <app-button [value]="7"></app-button>
            <app-button [value]="8"></app-button>
            <app-button [value]="9"></app-button>
            <app-button [value]="mul"></app-button>
        </div>

        <div class="r">
            <app-button [value]="cl"></app-button>
            <app-button [value]="0 "></app-button>
            <app-button [value]="eq "></app-button>
            <app-button [value]="div "></app-button>
        </div>
    </div>
</body>